:root{
 --color-primaty: #757575;
--color-blue: #2196F3;
--color-secondary: #212121;
--back-color: #2F303A;
--color-link-footer:  rgba(255, 255, 255, 0.6);
--color-adress: #ffffff;
--color-back-section: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-primaty);

}

.link {
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    

    
}

img {
  display: block;
  max-width: 100%;
  height: auto;


}

h1,h2,h3,ul,p{
    padding: 0px;
   margin: 0px;

 }



 .nav-item .link:hover, 
 .nav-item .link:focus, .contacts-item .link:hover, .contacts-item:focus, .contacts-item-footer .link:hover, .contacts-item-footer .link:focus {
     color: var(--color-blue);
 }



.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Логотип */


.logo{
        

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--color-blue);
}

.logo-black{
color: var(--color-secondary);
}

.logo-white {
    color: #ffffff;
}




/* Верх */

.header{
            border-bottom: 1px solid #ECECEC;

            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;

            
}


.header-container{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    
}


.header .logo{
    margin-right: 93px;
}

.nav-list{
    display: flex;
    
    
}



.nav-item:not(:last-child){
    margin-right: 50px;
}

 .nav-list{
        color: var(--color-secondary);
      

 }

 .contacts-list{
     display: flex;
     margin-left: auto;
 }

.contacts-item:not(:last-child){
    margin-right: 50px;
    
}

.nav-link, .contacts{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

 
  /* Баннер */

  .banner {
      padding-bottom: 200px;
     padding-top: 200px;

      background-color: var(--back-color);
      text-align: center;
  }


  

  .title-banner{
    
     max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

       
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color-adress);
  }

.button{
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: var(--color-blue);
        padding: 10px 32px;


    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    align-items: center;
    color: #ffffff;
    background-color: var(--color-blue);

}

.container-banner{
     margin-left: auto;
     margin-right: auto;
    width: 696px;
}
/* Main */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);


}


.card{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}


.card-item{
    margin-left: 30px;
    margin-top: 30px;
}

.list-text{
    display: flex;
    flex-wrap: wrap;
    
     
   
   

}

.item-text{
    
   flex-basis: calc(100% / 4 - 30px);
    
    
}

.item-text:last-child{
margin-right: 0px;

}



.text{
    margin-top: 10px;

}


.photo-section{
    padding-top: 0px;
}

.photo .title-section{
    padding-top: 0px;
    margin-bottom: 50px;
}




.photo-item{
   flex-basis: calc(100% / 3 - 30px);
    
}


.photo-item:last-child{
    margin-right: 0px;
}




.section-comand{
    padding-top: 0px;
    background-color: var(--color-back-section)
}



    
   

.comand-item {
    flex-basis: calc(100% / 4 - 30px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

background-color: var(--color-adress);

}

.comand-item:last-child{
    margin-right: 0px;
}



.title-team{
     margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--color-secondary);

}


.text-comand {
    font-size: 16px;
    line-height: 1.18;
    color: var(--color-secondary);
}


.text-comand,.title-team{

    text-align: center;
}


.comand-conteiner{
 padding: 30px;
}

.title{
       margin: 0px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--color-secondary);
}

.title-section{
         margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        color: var(--color-secondary);

}



/* Низ */

.footer{
   padding-top: 60px;
   padding-bottom: 60px;
    background-color: var(--back-color);
}

.adress{
    font-style: normal;

}

.adress-link{

    color: var(--color-adress);
}

.contacts-foter{
    
    color: var(--color-link-footer);
}

.footer .logo{
    display: block;
    margin-bottom: 20px;
}

.contacts-item-footer:not(:last-child){
    margin-bottom: 9px;
}

/* Портфолио */

.button-portfolio{
    border-radius: 4px;
    background: #F5F4FA;
    border: #F5F4FA;;
    padding: 6px 22px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
     color: var(--color-secondary);
     background-color: #F5F4FA;
     cursor: pointer;
    text-align: center;
}

.button-portfolio:hover,
.button-portfolio:focus{
    color: var(--color-adress);
    background-color: var(--color-blue);
}

.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.button-list-item:not(:last-child){
    margin-right: 8px;
}


.title-procets{
            margin-bottom: 4px;

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--color-secondary);
}


.procets-text{
    
    

    font-size: 16px;
    line-height: 1.87;

}



.procets-item{
     flex-basis: calc(100% / 3 - 30px);
    
}

.procets-item:nth-last-child(-n+3){
    margin-bottom: 0px;
}

.procets-item:nth-child(3n){
    margin-right: 0px;
}


.border-procets{
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
   
}

.link-procets{
    color: inherit;
    text-decoration: none;
}